@{
    ViewBag.Title = "Index";
}
<html>
<head>
    <meta charset="UTF-8">
    <title>易考通</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/student.css" rel="stylesheet">
</head>
<body class="topic_bg">
     <div class="herd_top2">
        <div class="herd_top_con">
            <div class="herd_top_text">
               <img style="height: 75px;" src="../img/newlogo2.png"/><span style="margin-left: 50px;">典阅智慧财经</span>综合技能竞赛平台

            </div>

        </div>
    </div>

    <div class="stu_map">
        <div class="grad_map">
            <div class="grad_con">
                <!--头部赛项名称-->
                <div class="grad_title">
                    @ViewData["ExaminationName"]
                </div>
                <!--选手头像-->
                <div class="grad_use">
                    <img src="@ViewData["Pic"]" />
                </div>
                <!--选手成绩-->
                <div class="grad_number">
                    <div class="grad_digit">@ViewData["TotalScore"]分</div>
                </div>
                <!--选手信息-->
                <div class="grad_use_message">
                    @ViewData["Name"]<br />
                    登录账号：<span class="color_yellow">@ViewData["UserNo"]</span><br />
                    代表队：<span class="color_yellow">@ViewData["SchoolName"]</span>
                </div>
                <!--裁判评分登陆   不需要时删除-->
                @{
                    if (Convert.ToInt32(ViewData["Pattern"]) == 2)
                    {
                        if (Convert.ToInt32(ViewData["RefereePoints"]) == 0)
                        {
                            <div class="grad_btn">
                                <button class="bt_pingfen" onclick="Points()">裁判评分</button>
                            </div>
                        }
                        else
                        {
                             <div class="grad_btn">
                                <button class="bt_pingfen">裁判已评分</button>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
    <div class="bottom_bj">
        <img src="../img/student/statebj.png" />
    </div>
    <div style="color: #aab3b7; text-align: center; margin-top: 10px; margin-bottom: 10px;">
        Copyright 版权所有深圳典阅科技有限公司 2017
    </div>

    <div id="classAdd" style="display: none;" class="form-inline">
        <div class="hr-line-dashed"></div>
        <div class="col-sm-12 m-t-sm">
            <div class="form-horizontal  m-t-sm">
                <label for="firstname" class="col-sm-3 control-label"><span style="color: red;">*</span>账号：</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="UserNo" name="" autocomplete="off"
                           placeholder="请输入裁判账号">
                </div>
            </div>
        </div>

        <div class="col-sm-12 m-t-sm">
            <div class="form-horizontal  m-t-sm">
                <label for="firstname" class="col-sm-3 control-label"><span style="color: red;">*</span>密码：</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Pwdid" name="" autocomplete="off"
                           placeholder="请输入裁判密码">
                </div>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="col-sm-12 m-t-sm">
            <div class="form-horizontal  m-t-sm">
                <label for="firstname" class="col-sm-3 control-label"><span style="color: red;">*</span>扣分：</label>
                <div class="col-sm-9">
                    <input type="text" onkeyup="TYcheckeNum('Scoreid')" class="form-control" id="Scoreid" name="" autocomplete="off"
                           placeholder="请输入学生应扣分数">
                </div>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="col-sm-12 text-center">
            <div class="form-horizontal m-t-md ">
                <button type="button" onclick="Save()" class="btn btn-w-m btn-success">保存</button>&nbsp;
                <button type="button" class="btn btn-w-m btn-white" onclick="layer.closeAll();">关闭</button>
            </div>
        </div>

    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.2.0.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/layer/layer.js"></script>
<script src="~/Scripts/SG_GradLook/SG_GradLook_index.js"></script>
<script>
    //控制浏览器是否后退
    $(document).ready(function (e) {
        var counter = 0;
        if (window.history && window.history.pushState) {
            $(window).on('popstate', function () {
                window.history.pushState('forward', null, '#');
                window.history.forward(1);
                alert("您已经提交答案,不能进行后退操作！");
            });
        }

        window.history.pushState('forward', null, '#'); //在IE中必须得有这两行
        window.history.forward(1);
    });
</script>
